<%- include("header") %>

<h1>Producte ID: <%= producte.id %></h1>
<p>Nom: <%= producte.nom %></p>
<p>Descripció: <%= producte.descripcio %></p>
<p>Preu: <%= producte.preu %>€</p>

<a href="/editaProducte/<%= producte.id %>">Edita aquest producte</a>

<%- include("footer") %>