<%- include("header") %>

<h1>Usuari ID: <%= usuari.id %></h1>
<p>Nom: <%= usuari.nom %></p>
<p>Email: <%= usuari.email %></p>

<a href="/editaUsuari/<%= usuari.id %>">Edita aquest usuari</a>

<%- include("footer") %>