<%- include("header") %>

<h1><%= usuari.nom %></h1>
<p><%= usuari.email %></p>

<h2>Comandes</h2>
<ul>
  <% comandas.forEach(function(comanda) { %>
    <li>Producte ID: <%= comanda.producte_id %></li>
  <% }); %>
</ul>

<%- include("footer") %>